* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(45deg, #c4ffcd, #b0fdf9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .container {
    width: 450px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 500px;
  }
}
@media (min-width: 1110px) {
  .container {
    width: 600px;
  }
}

.form {
  padding: 5px;
  background: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form input {
  border-radius: 50px;
  border: none;
  padding: 5px;
  outline: none;
}

.form input:active,
.form input:focus,
.form input:hover {
  border: none;
  outline: none;
  box-shadow: none;
}

input.input {
  flex-grow: 1;
  background-color: rgb(245, 245, 245);
  margin-right: 5px;
}
.tasks {
  background-color: transparent;
  margin-top: 30px;
}

.tasks .task {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 50px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #7bff8f;
}
.task.done {
  border-color: tomato;
}
.task .task-text {
  margin-left: 5px;
}
.task .del {
  color: #fff;
  background-color: red;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}
